.about {
  background-color: map-get($color, 'jungle-green');
  height: 96vh;
  padding: map-get($size, 'sesqui');
  position: relative;

  @include media('>700px') {
    clip-path: polygon(0% 100%, 0% 0%, 90% 0%, 90% 50%, 84% 70%, 84% 100%, 85% 100%, 85% 70.5%, 91% 50.5%, 91% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  @include media('>desktop') {
    clip-path: polygon(0% 0%, 63% 0%, 63% 30%, 69% 50%, 69% 100%, 70% 100%, 70% 49.5%, 64% 29.5%, 64% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.about__blurb {
  display: flex;
  flex-direction: column;

  @include media('>tablet') {
    flex-direction: row;
  }
}

.about__portrait-wrapper {
  margin-bottom: map-get($size, 'base');

  @include media('>tablet') {
    margin-right: map-get($size, 'base');
  }
}

.about__portrait {
  background-attachment: fixed;
  background-color: #000;
  background-image: url(http://fillmurray.com/500/500);
  background-position: center -30px;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 200px;
  margin: auto;
  width: 200px;

  @include media('>tablet') {
    background-position: 26px 0;
    height: 250px;
    margin-right: map-get($size, 'base');
    width: 250px;
  }

  img {
    visibility: hidden;
  }
}

.about__text-wrapper {
  text-align: justify;

  @include media('>tablet') {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 44vw;
    text-align: left;
  }

  @include media('>landscape') {
    max-width: 54vw;
  }

  @include media('>desktop') {
    max-width: 35vw;
  }
}

.about__text-container {
  border-bottom: 2px solid #fff;
  padding-bottom: map-get($size, 'base');
}

.about__title {
  font-size: map-get($size, 'double');
  line-height: 1.5;
  text-align: center;

  @include media('>tablet') {
    text-align: left;
  }
}

.about__info {
  font-family: $roboto;
}

.about__tech-stack {
  color: map-get($color, 'granny-smith');
  margin: 40px 0 0 60px;
  max-width: 300px;
  transform: rotate(-20deg);

  @include media('>tablet') {
    margin: 130px 0 0 200px;
  }
}

.about__tech-stack-headline {
  font-size: map-get($size, 'double');
  font-weight: 400;
}

.about__tech-stack-list {
  font-family: $roboto;
  font-size: map-get($size, 'double');
}

.about__tech-stack-list-item {

}

.about__message {
  bottom: map-get($size, 'base');
  color: #fff;
  font-size: map-get($size, 'sesqui');
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: map-get($size, 'base');
  
  @include media('>tablet') {
    right: 17vw;
  }

  @include media('>desktop') {
    right: map-get($size, 'base');
  }

  span {
    color: map-get($color, 'shamrock');
  }
}
