.arrow {
  @include animation(move-arrow, 2.5s, ease-in-out, infinite);
  background-color: map-get($color, 'jungle-green');
  bottom: 2rem;
  clip-path: polygon(20% 0%, 20% 60%, 0% 60%, 50% 100%, 100% 60%, 80% 60%, 80% 0%);
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 10%;
  transition: background-color 0.5s 0.1s;
  width: 50px;

  &:hover {
    background-color: map-get($color, 'eucalyptus');
    transition: background-color 0.5s 0;
  }
}
