.carousel {
  /* carousel appears twice in the markup, but it makes for a nice quadruple border */
  background-color: map-get($color, 'granny-smith');
  border: 8px double map-get($color, 'jungle-green');
  height: 400px;
  margin: auto;
  max-width: 600px;
}

.carousel__figure-wrapper {
  text-decoration: none;
}

.carousel__figure {
  height: 100%;
  margin: 0;
  width: 100%;
}

.carousel__image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;

  img {
    visibility: hidden;
  }
}

.carousel__figcaption {
  padding: map-get($size, 'base');
}
