.contact {
  padding: map-get($size, 'double') map-get($size, 'base');
  text-align: center;
}

.contact__header {
  @include landing('right');
  margin-bottom: map-get($size, 'base');
}

.contact__header-question {
  color: map-get($color, 'eucalyptus');
}
