.hamburger {
  color: map-get($color, 'jungle-green');
  cursor: pointer;
  font-size: map-get($font-size, 'triple');
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 2rem;
  transition: color 0.5s 0.1s;
  right: 2.8rem;
  z-index: 1;

  @include media('>mobile') {
    font-size: map-get($font-size, 'quadruple');
  }

  &:hover {
    color: #fff;
    transition: color 0.5s 0;
  }
}

.hamburger--active {
  color: #fff;
}
