.intro {
  align-items: center;
  display: flex;
  height: 95vh;
  justify-content: center;
}

.intro__banner {
  
}

.intro__title,
.intro__subtitle {
  color: #fff;
  text-align: center;
}

.intro__title {
  @include media('>mobile') {
    font-size: map-get($font-size, 'quadruple');
  }
}

.intro__subtitle {
  @include media('>mobile') {
    font-size: map-get($font-size, 'double');
  }
}

