.navbar {
  align-items: center;
  background-color: #000;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: map-get($font-size, 'quadruple');
  justify-content: center;
  position: absolute;
  right: 0;
  transition: width 1s;
  top: 0;
  width: 0;

  @include media('>mobile') {
    font-size: map-get($font-size, 'hextuple');
  }
}

.navbar--active {
  width: 100%;
}

.navbar--active .navbar__list {
  width: auto;
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: width 1s;
  width: 0;
}

.navbar__item {
  line-height: 1.25;
}

.navbar__link {
  cursor: pointer;
  font-weight: 700;
  transition: color 0.1s;

  &:hover {
    color: map-get($color, 'shamrock');
  }
}
