@import './constants';

html {
  font-size: 62.5%;
}

body {
  background-color: map-get($color, 'shamrock');
  box-sizing: border-box;
  font-family: $roboto-slab;
  font-size: 16px;
  font-size: map-get($font-size, 'base');
  margin: 0;
}

h1 {
  color: #fff;
  font-size: map-get($font-size, 'headline');
  text-align: center;
}
