$color: (
  shamrock: #2ecc71,
);

$font-size: (
  base: 1.6rem,
  subtitle: 3.2rem,
  title: 6.4rem,
);

$space: (
  base: 1.6rem,
);

/* Fonts */

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$share-tech-mono: 'Share Tech Mono', monospace;