$breakpoints: (
  mobile: 400px,
  tablet: 600px,
  landscape: 900px,
);

$color: (
  eucalyptus: #237b48,
  jungle-green: #27ae60,
  shamrock: #2ecc71,
);

$size: (
  half: 0.8rem,
  base: 1.6rem,
  sesqui: 2.4rem,
  double: 3.2rem,
  triple: 4.8rem,
  quadruple: 6.4rem,
  hextuple: 9.6rem,
);

$z-index: (
  navbar: 1,
  hamburger: 2,
);

/* Fonts */

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$share-tech-mono: 'Share Tech Mono', monospace;
