$color: (
  shamrock: #2ecc71,
);

$font-size: (
  base: 1.6rem,
  headline: 6.4rem,
);

$space: (
  base: 1.6rem,
);

/* Fonts */

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab:400', serif;
$roboto-slab-bold: 'Roboto Slab:700', serif;
$share-tech-mono: 'Share Tech Mono', monospace;