@mixin landing ($from) {
  transition: transform 1s ease-in-out;

  @if $from == 'left' {
    transform: translateX(-600px);
  } @else if $from == 'right' {
    transform: translateX(600px);
  }
}

@mixin fade-out ($time) {
  opacity: 0;
  transition: opacity $time ease-in-out;
}

@mixin animation ($animation, $duration, $transition, $iteration) {
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  transition-timing-function: $transition;
  animation-name: $animation;
}

@mixin keyframe ($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}